<div class="container" id="container">
    <div class="frame">
      <div class="nav">
        <ul class="links">
          <li class="signin-active"><a class="btn">Sign in</a></li>
          <li class="signup-inactive"><a class="btn">Sign up </a></li>
        </ul>
      </div>
      <div ng-app ng-init="checked = false">
              <form class="form-signin" action="/forget" method="post" name="form">
          <label for="username">Username</label>
          <input class="form-styling" type="text" name="username" placeholder=""/>
          <label for="password">Password</label>
          <input class="form-styling" type="password" name="password" placeholder=""/>
          <div class="btn-animate">
            <a class="btn-signin">Sign in</a>
          </div>
              </form>
          
              <form class="form-signup" action="" method="post" name="form">
          <label for="fullname">Full name</label>
          <input class="form-styling" type="text" name="fullname" placeholder=""/>
          <label for="email">Email</label>
          <input class="form-styling" type="email" name="email" placeholder=""/>
          <label for="password">Password</label>
          <input class="form-styling" type="password" name="password" placeholder=""/>
          <label for="confirmpassword">Confirm password</label>
          <input class="form-styling" type="password" name="confirmpassword" placeholder=""/>
          <a ng-click="checked = !checked" class="btn-signup">Sign Up</a>
              </form>
        
        <div class="success">
           
           <div class="successtext">
              <p>Thank You!! You have been successfully signed up! </p>
                <br>
               <a href="./">Go back to SignIn Page</a>
              </div>
            
               
        </div>
        
        <div class="forgot">
          <a href="forget">Forgot password?</a>
        </div>
    </div>
      
  </div>
  <script src="../../assets/js/script.js"></script>

  <!-- <div class="container" id="container1">
    <div class="frame">
      <div class="nav">
        <ul class="links">
          <li class="signin-active">FORGOT PASSWORD?</li>
        </ul>
      </div>
      <div ng-app ng-init="checked = false">
              <form class="form-signin" action="" method="post" name="form">
          <label for="username">Username</label>
          <input class="form-styling" type="text" name="username" placeholder=""/>
          <label for="password">New Password</label>
          <input class="form-styling" type="password" name="password" placeholder=""/>
          <label for="password">Confirm Password</label>
          <input class="form-styling" type="password" name="confirmpassword" placeholder=""/>
          <div class="btn-animate">
            <a class="btn-signin">RESET</a>
          </div>
              </form>
          
              <form class="form-signup" ></form>
        
        <div class="success">
          
           <div class="successtext">
              <p> Congratulations! your password has been changed successfully</p>
            </div>
               </div>
        </div>
        
        <div class="forgot1">
          <p onclick="forget()">Go Back to SignIn Page</p>
        </div>
        
        
    </div>
      
  </div>
  <script src="../assets/js/script.js"></script> -->
