<div class="container" id="container">
    <div class="frame">
      <div class="nav">
        <ul class="links">
          <li class="signup-active"><a class="btn1">Forgot Password?</a></li>
        </ul>
      </div>
      <div >
              <form class="form-signin" id="signin" action="" method="post" name="form">
                <label for="username">Username</label>
                <input class="form-styling" type="text" name="username" placeholder=""/>
                <label for="password">New Password</label>
                <input class="form-styling" type="password" name="password" placeholder=""/>
                <label for="confirmpassword">Confirm password</label>
                <input class="form-styling" type="password" name="password" placeholder=""/>
                <div class="btn-animate">
                  <a ng-click="checked = !checked" class="btn-signup" >Reset Password</a>
                </div>
              </form>
          
              <form class="form-signup" action="" method="post" name="form">
               </form>
        
        <div class="success">
           <div class="successtext">
              <p> Your Password has been reset successfully!</p>
              <br>
               <a href="./">Go back to SignIn Page</a>
            </div>
               
        </div>
        
        <div class="forgot">
          <!-- <a href="forget">Forgot password?</a> -->
        </div>
    </div>
      
  </div>
  